<div class="container-center">
	 <h2 style="margin:2% 0 1% 4.4%;">Aboutus</h2>
	<div class="content">
	{%comment%}		<div class="container-center-content1">
		     <h2 style="padding:0px;margin:0px;">Idea - We are idea People</h2><br>
                     <h5> We love Ideas. It is never boring to try something new <br>and we believe that there is always a better way to do things.<br>Our smart developers do not blindly type pages of scripts,<br> but apply new ideas and creativity to every single line,<br> to make your platform simple, robust and intelligent.</h5>
		</div>
		<div class="container-center-content2">
			<h2>Our DNA</h2><br>


  <h5> Holy Django! We are romantic and not always so much in a geeky way.<br> We fall in love and every project is an intense affair for us.<br> We flirt with ideas in the day and dream about them at night.<br> We can not help it. Romance is in our DNA.</h5>
                </div>
		<div class="container-center-content3">
			<h2>Let's ERPs</h2>


  <h5> When we talk about coffee, it is not Java.<br> We are talking about actual coffee.<br> When it kicks in, we just do not write code.<br><br> Wonder why we love our cup of coffee so much?<br> Join us in a discussion anytime to find out.....</h5>
                </div>	
		<div class="container-center-content4">
			<h2>Zero - Yet to be powerful</h2>


  <h5> There is something about 0. It is nothing, everything and beyond.<br> It is the perfect balance between negative and positive.<br> It is the excitement of beginning from nothing.<br> Starting from scratch as you may call it.<br> Just like 0, we work to unlock hidden potential of nothing.</h5>
                </div>
{%endcomment%}
<p>We design beautiful, simple but highly functional apps.We take ideas from inception and make them reality</p>
<p> Innovative design is our passion.We love what we do</p>
<p> Beautify the presence of web and technology</p>


	</div>
</div>
<div class="container-right">
		<div class="trangle" style="width:0;
                                         height:0;
                                        border-top: 25px solid transparent;
                                        border-bottom: 25px solid transparent;
                                        border-right:25px solid maroon;
					display:none;
                                        position:absolute;
                                        left:3%;">
		</div>
		<div class="container-right-right">


			<div class="category" id="ourteam_1_link" title="whoweare">Who we are</div>
			<div class="category" id="ourteam_1_link" title="whatwedo">What we do</div>
			<div class="category" id="ourteam_1_link" title="ourpassion">Our passion</div>
			<div class="category" id="ourteam_1_link" title="ourteam">Our team</div>
			<div class="category" id="ourteam_1_link" title="ourmission">Our mission</div>
			<div class="category" id="ourteam_1_link" title="whychooseus">Why choose us</div>
		</div>

</div>
<div class="container-left"></div>
