<div class="arrow-up"></div>
<div class="content" style=" position:absolute;z-index:4;">
<h2>Finance</h2>
<p style="font-family:georgia">Record your operations in a few clicks and manage all your financial activities in one place. Financial operations has never been easier.</p></br>
<h2>Features</h2>
<p style="font-family:georgia">
.       Smart user interface-</br>
.       Invoice control-</br>

.       Automate your follow-ups-</br>

.       Easy reconciliation</br>
.       Dashboard & KPIs</br>
.       Easy payment management</br>
.       Integrated analytic accounting</br>
.       Multi-currency</br>
.       Multi-company</br>

</p>

</div>
