<h2 style="margin:2% 0 1% 4.0%;">Customer Relationship Managment</h2>
<div class="content" style=" position:absolute;z-index:4;">
{%comment%}<ul class="base">
                        <li class="sub_category" id="sub_1_link" title="propertya">Property 1</li>
                        <li class="sub_category" id="sub_1_link" title="propertyb">Property 2</li>
                        <li class="sub_category" id="sub_1_link" title="propertyc">Property 3</li>
                        <li class="sub_category" id="sub_1_link" title="propertyd">Property 4</li>
                        <li class="sub_category" id="sub_1_link" title="propertye">Property 5</li>
</ul>
{%endcomment%}
<p >
Open ERP CRM allows you to track your best leads and opportunities. You can customize your sales cycle, control statistics and forecasts and setup marketing campaign automation to improve your sales performance.


</p></br>
<h2>Features</h2>
<p>
.	Track leads & opportunities</br>
.	Plan meetings & phone calls</br>
.	Follow-up quotes & sale orders</br>
.	Run marketing campaigns</br>
.	Acquire leads automatically through web-services</br>
.	Get real-time statistics</br>
.	Outlook & Thunderbird plugin</br>


</p>

</div>

