<!DOCTYPE html>
<html>
	<head>
		<style>
			.envelope{
			height:66%;

			width:90%;
			background:#EFEFEF;
			box-shadow:2px 2px 2px black ;
			position:relative;
			margin-top:6%;
			}
			.triangle {
				width:0%; 
				height:0%; 
				border-left: 175px solid transparent;
				border-right: 175px solid transparent;
				border-top: 120px solid #EFEFEF;
				}

		</style
	</head>
	<body>
		<div class="envelope">
			<div class="triangle">
			</div>
		</div>
	
	</body>
</html>
