<h2 style="margin:2% 0 1% 4.0%;">Human Resourse</h2>
<div class="content" style=" position:absolute;z-index:4;">
{%comment%}<ul class="base">
                        <li class="sub_category" id="sub_1_link" title="propertya">Property 1</li>
                        <li class="sub_category" id="sub_1_link" title="propertyb">Property 2</li>
                        <li class="sub_category" id="sub_1_link" title="propertyc">Property 3</li>
                        <li class="sub_category" id="sub_1_link" title="propertyd">Property 4</li>
                        <li class="sub_category" id="sub_1_link" title="propertye">Property 5</li>
</ul>
{%endcomment%}
<p>Manage the most important asset in the company: .People.. Open ERP provides all latest features and functionalities to effectively manage the human resource in an organization.</p></br>
<h2>Features</h2>
<p>
.	Track time and attendances-</br>
.	Manage your employees-</br>

.	Follow recruitment-</br>

.	Centralize your expenses-</br>

.	Reporting-</br>

.	Manage leave requests-</br>

.	Plan periodic evaluations-</br>

</p>
</div>
