<h2 style="margin:2% 0 1% 4%;width:12%">Let's ERP</h2>
 

<div class="container-center">
	 <div class="content" style="position:absolute;z-index:3;">

<p>When we talk about cofee,it is not Java.We are talking about actual <br>cofee.When it kicks in ,we jast do not write code.<br>
Wonder why we love our cup of cofeeso much?Join us<br>in a discussion anytime to find out..... 
 </p>
	 </div>
        </div>
        <div class="container-right" style="padding:0px;margin-top:0px">
	<!--	 <div class="fb" style="height:32%;width:98%;position:relative;">
		
		      {% autoescape on %}

				{% with "http://carlosvin.alwaysdate.net" as host %}
					{% with "Share in" as share_txt %}
					{% with "twitter" as service %}
					<a style="color:#FFF;text-decoration:none;" href="http://twitter.com/share?url={{ host }}{{ page_url }}&amp;text={{ title }}" target="_blank" title="{{ share_txt }} {{ service }}">
    					<img src="/static/t11.jpg" height='70%' width='70%' style="margin-top:5%;margin-left:20%;" alt="{{ share_txt }} {{ service }}"/>
					</a>
				{% endwith%}
		</div>
		<div class="fb" style="height:32%;width:98%;position:relative;">

				{% with "facebook" as service %}
					<a style="color:#FFF;text-decoration:none;" href="http://www.facebook.com/share.php?u={{ host }}{{ page_url }}&amp;t={{ title }}" target="_blank" title="{{ share_txt }} {{ service }}">
    						<img src="/static/f1.jpg" height='70%' width='70%' style="margin-top:5%;margin-left:20%;" alt="{{ share_txt }} {{ service }}"/>
</a>
				{% endwith %}
		</div>
		<div class="fb" style="height:32%;width:98%;position:relative;">



				{% with "linkedin" as service %}
					<a style="color:#FFF;text-decoration:none;" href="http://www.linkedin.com/shareArticle?mini=true&amp;url={{ host }}{{ page_url }}&amp;title={{ title }}&amp;ro=false&amp;summary=&amp;source=" target="_blank" title="{{ share_txt }} {{ service }}">
    					<img src="/static/l1.jpg" height='70%' width='70%' style="margin-top:5%;margin-left:20%;"  alt="{{ share_txt }} {{ service }}"/>
</a>
				{% endwith %}


				{% endwith %}
				{% endwith %}

				{% endautoescape %}
		</div>
		</div>-->


        </div>
        <div class="container-left"></div>



