<h2 style="margin:2% 0 1% 4.0%;">Manufacturing</h2>
<div class="content" style=" position:absolute;z-index:4;">
{%comment%}<ul class="base">
                        <li class="sub_category" id="sub_1_link" title="propertya">Property 1</li>
                        <li class="sub_category" id="sub_1_link" title="propertyb">Property 2</li>
                        <li class="sub_category" id="sub_1_link" title="propertyc">Property 3</li>
                        <li class="sub_category" id="sub_1_link" title="propertyd">Property 4</li>
                        <li class="sub_category" id="sub_1_link" title="propertye">Property 5</li>
</ul>
{%endcomment%}

<p>Plan and control your supply chain through different applications in the Manufacturing module. Personalize your master data, configure planning, manage your manufacturing and work orders.</p></br>
<h2>Features</h2>
<p>
.	Efficient scheduling</br>
.	Stock analytics</br>
.	Manage material and human resource</be>
.	Multi-level BOMs, push & pull rules, advanced routings</br>
.	Stock alerts</br>
.	Bar code support</br>
.	Flexible manual editing for all operations</br>

</p>

</div>
