<div class="container-center">
	</div>
<div class="container-right">

       			<div class="category" id="module_1_link" title="HR">HR</div>
			<div class="category" id="module_2_link" title="Finance">Finance</div>
			<div class="category" id="module_3_link" title="Accounts">accounts</div>
			<div class="category" id="module_4_link" title="Managment">Managment</div>
			<div class="category" id="module_5_link" title="sales">sales</div>
			<div class="category" id="module_6_link" title="More">More</div>				
	
</div>
