
	<div class="container-center">
		<h2 style="margin:2% 0 1% 4.4%;">OpenErp</h2>
		<div class="content">

			<p>OpenERP is the most advanced open source business application framework. it is a fully integrated open source ERP easy to use & affordable.

		It is a comprehensive suite of business applications including sales, CRM, project management, warehouse management, manufacturing, accounting and human resources.
	
		What makes OpenERP different from other ERP solutions is:</p><br>

		<h5>Open Source</h5>
		<h5>Complete</h5>
		<h5>Modular</h5>
		<h5>flexible</h5>
		<h5>no lock-in</h5>
		<h5>Affordable</h5>
	   	<h5>Clients</h5>

		</div>
	</div>
	        <div class="container-right">
			<!--<div class="container-right-left" style="width:10%;height:99%;position:relative;float:left;display:inline;background:pink;">-->
				 <div class="trangle" style="width:0;
                                         height:0;
                                        border-top: 25px solid transparent;
                                        border-bottom: 25px solid transparent;
                                        border-right:25px solid maroon;
					display:none;
                                        position:absolute;
					
					left:3%;">
                		 </div>


			<div class="container-right-right">
				<div class="category" id="openerp_1_link" title="opensource">OpenSource</div>
                		<div class="category" id="openerp_2_link" title="complete">Complete</div>
                		<div class="category" id="openerp_3_link" title="moduler">Moduler</div>
                		<div class="category" id="openerp_4_link" title="flexible">Flexible</div>
                		<div class="category" id="openerp_5_link" title="nolocking">NoLocking</div>
				<div class="category" id="openerp_5_link" title="Affordable">Affordable</div>
				<div class="category" id="openerp_5_link" title="clients">Clients</div>
			</div>

		</div>
	<div class="container-left"></div>


