 <h2 style="margin:2% 0 1% 4.4%;">Our Team</h2>

<div class="content" style=" position:absolute;z-index:4;">
<div class="image"><img src="/static/1.jpg" height="70%" width="100%">Mr.Deepak Malik<br>CEO</div>
<div class="image"><img src="/static/2.jpg" height="70%" width="100%">Sarfraz Ahamed<br>TeamLeader of Django Team</div>
<div class="image"><img src="/static/3.jpg" height="70%" width="100%">Toufiq Ahamed<br>Unix Administrator</div>
<div class="image"><img src="/static/4.jpg" height="70%" width="100%">Md.Irshad <br>Django Developer</div>
<div class="image"><img src="/static/5.jpg" height="70%" width="100%">Mairaj Khan<br>Django Developer</div>
<div class="image"><img src="/static/6.jpg" height="70%" width="100%">Sk Masiur Rahaman<br>Django Developer</div>
<div class="image"></div>
<div class="image"></div>
</div>

<div class="sub_heading" style="position:relative; margin-top:15%;height:50%;width:17%;margin-left:82%;">
                        <div class="sub_category" id="sub_1_link" title="Dmalik"><p style="font-family:cambria">Mr.D.Malik</div>
                        <div class="sub_category" id="sub_1_link" title="tofiq"><p style="font-family:cambria">Er.Tofiq</div>
                        <div class="sub_category" id="sub_1_link" title="sarfraz"><p style="font-family:cambria">Er.Sarfraz</div>
                        <div class="sub_category" id="sub_1_link" title="irshad"><p style="font-family:cambria">Er.Irshad</div>
                        <div class="sub_category" id="sub_1_link" title="Rahman"><p style="font-family:cambria">Er.Rahman</div>
        </div>

