<h2 style="margin:2% 0 1% 4.4%;width:30%">PostgreSQL</h2>
<div class="content" style=" position:absolute;z-index:4;">
{%comment%}<ul class="base">
                        <li class="sub_category" id="sub_1_link" title="propertya">Property 1</li>
                        <li class="sub_category" id="sub_1_link" title="propertyb">Property 2</li>
                        <li class="sub_category" id="sub_1_link" title="propertyc">Property 3</li>
                        <li class="sub_category" id="sub_1_link" title="propertyd">Property 4</li>
                        <li class="sub_category" id="sub_1_link" title="propertye">Property 5</li>
</ul>
{%endcomment%}
<p>

PostgreSQL is a powerful, open source object-relational database system
</p>
<h2>Why PostgreSQL</h2>
<p>

Switching database server from HP to Linux</br>
PostgreSQL is free, Informix for Linux is not</br>
PostgreSQL is the most advanced open source relational database</br>
Full support for foreign keys, joins, views, triggers, and stored procedures</br>
Documentation is excellent and is at  www.postgresql.org/docs/8.2/...</br></p>
</div>
