<h2 style="margin:2% 0 1% 4.0%;">Project Managment</h2>
<div class="content" style=" position:absolute;z-index:4;">
{%comment%}<ul class="base">
                        <li class="sub_category" id="sub_1_link" title="propertya">Property 1</li>
                        <li class="sub_category" id="sub_1_link" title="propertyb">Property 2</li>
                        <li class="sub_category" id="sub_1_link" title="propertyc">Property 3</li>
                        <li class="sub_category" id="sub_1_link" title="propertyd">Property 4</li>
                        <li class="sub_category" id="sub_1_link" title="propertye">Property 5</li>
</ul>
{%endcomment%}
<p>Keep track and manage your projects using tasks for short term project execution or plan phases for long term planning</p></br>
<h2>Features</h2>
<p>
.	Collaborate efficiently</br>
.	Schedule automatically</br>
.	Sync with emails</br>
.	Instant reports and analysis</br>
.	Manage issues</br>


</p>

</div>
