<div class="arrow-up" style="left:85%;"></div>
<div class="content" style=" position:absolute;z-index:4;">
<h2>Human Resources-</h2>
<p style="font-family:georgia">Manage the most important asset in the company: .People.. Open ERP provides all latest features and functionalities to effectively manage the human resource in an organization.</p></br>
<h2>Features</h2>
<p style="font-family:georgia">
.       Track time and attendances-</br>
.       Manage your employees-</br>

.       Follow recruitment-</br>

.       Centralize your expenses-</br>

.       Reporting-</br>

.       Manage leave requests-</br>

.       Plan periodic evaluations-</br>

</p>

</div>
