 <h2 style="margin:2% 0 1% 4.4%;">Why Choose Us</h2>
<div class="content" style=" position:absolute;z-index:4;">
<p >{% load webdesign %}
	{% lorem 23 w random %}
</p>
</br>

</div>
<div class="sub_heading" style="position:relative; margin-top:15%;height:50%;width:17%;margin-left:82%;">
                        <div class="sub_category" id="sub_1_link" title="reasona"><p style="font-family:cambria">Reason 1</div>
                        <div class="sub_category" id="sub_1_link" title="reasonb"><p style="font-family:cambria">Reason 2</div>
                        <div class="sub_category" id="sub_1_link" title="reasonc"><p style="font-family:cambria">Reason 3</div>
                        <div class="sub_category" id="sub_1_link" title="reasond"><p style="font-family:cambria">Reason 4</div>
                        <div class="sub_category" id="sub_1_link" title="reasone"><p style="font-family:cambria">Reason 5</div>
        <div>
