<h2 style="margin:2% 0 1% 4.4%;width:30%">XML</h2>
<div class="content" style=" position:absolute;z-index:4;">
{%comment%}<ul class="base">
                        <li class="sub_category" id="sub_1_link" title="propertya">Property 1</li>
                        <li class="sub_category" id="sub_1_link" title="propertyb">Property 2</li>
                        <li class="sub_category" id="sub_1_link" title="propertyc">Property 3</li>
                        <li class="sub_category" id="sub_1_link" title="propertyd">Property 4</li>
                        <li class="sub_category" id="sub_1_link" title="propertye">Property 5</li>
</ul>
{%endcomment%}
<p>XML stands for eXtensible Markup Language is to exchange data between incompatible systems over the Internet.</p>
<p><h2>Why Xml</h2></p>
<p>    	Simplicity</br>
    	Extensibility</br>
    	Interoperability<br>
    	Openness<br></p>
</div>
