
                <div class="container-center">
                </div>
                                <div class="container-right">
                                                <div class="category" id="module_1_link">HR</div>
                                                <div class="category" id="module_2_link">Finance</div>
                                                <div class="category" id="module_3_link">accounts</div>
                                                <div class="category" id="module_4_link">Managment</div>
                                                <div class="category" id="module_5_link">sales</div>
                                                <div class="category" id="module_6_link">More</div>
                                </div>



