<div class="content" style=" position:absolute;z-index:4;">
	<a href=http://pcsol.be/fr/actualites/openerp-temoignage-singer target="_blank"><div class="clients"><img src="/static/11.jpg" height="100%" width="100%"></div></a>
	<a href=http://www.slideshare.net/openobject/openerp-luc-de-meyer-noviat target="_blank"><div class="clients"><img src="/static/12.png" height="100%" width="100%"></div></a>
	<a href=http://www.slideshare.net/openobject/openerp-success-gaumar-group  target="_blank"><div class="clients"><img src="/static/13.jpg" height="100%" width="100%"></div></a>
	<a href=http://www.dgrhe.min-edu.pt/_main/  target="_blank"><div class="clients"><img src="/static/14.png" height="100%" width="100%"></div></a>
	<a href=http://www.securitas.com/pt/pt/  target="_blank"><div class="clients"><img src="/static/15.jpg" height="100%" width="100%"></div></a>
	<a href=http://www.danone.com/  target="_blank"><div class="clients"><img src="/static/16.png" height="100%" width="100%"></div></a>
	<a href=http://v6.openerp.com/atlascopco.com  target="_blank"><div class="clients"><img src="/static/17.png" height="100%" width="100%"></div></a>
	<a href=http://www.smile.fr/Clients/References-par-solution/ERP/Veolia-Transport  target="_blank"><div class="clients"><img src="/static/18.jpg" height="100%" width="100%"></div></a>


	<a href=http://www.ena.fr/  target="_blank"><div class="clients"><img src="/static/19.png" height="100%" width="100%"></div></a>
	<a href=http://www.aisse.com/  target="_blank"><div class="clients"><img src="/static/20.jpg" height="100%" width="100%"></div></a>
	<a href=http://www.smile.fr/Clients/References-par-solution/ERP/Anevia  target="_blank"><div class="clients"><img src="/static/21.jpg" height="100%" width="100%"></div></a>
	<a href=http://www.smile.fr/Clients/References-par-outil/OpenERP/V-Lille  target="_blank"><div class="clients"><img src="/static/22.jpg" height="100%" width="100%"></div></a>
	<a href=http://www.amahe.be/  target="_blank"><div class="clients"><img src="/static/23.jpg" height="100%" width="100%"></div></a>
	<a href=http://www.experts-comptables.fr/  target="_blank"><div class="clients"><img src="/static/24.png" height="100%" width="100%"></div></a>
	<a href=http://www.ephicas.eu/  target="_blank"><div class="clients"><img src="/static/25.gif" height="100%" width="100%"></div></a>
	<a href=http://www.computerworld.com/s/article/9192158/OpenERP_aims_to_impress_U.S._market?taxonomyId=121  target="_blank"><div class="clients"><img src="/static/26.png" height="100%" width="100%"></div></a>
	
	<a href=http://www.synertal.fr/  target="_blank"><div class="clients"><img src="/static/27.jpg" height="100%" width="100%"></div></a>
	<a href=http://www.smile.fr/Clients/References-par-solution/ERP/Espace-Loggia  target="_blank"><div class="clients"><img src="/static/28.gif" height="100%" width="100%"></div></a>
	<a href=http://www.lithcote.com/  target="_blank"><div class="clients"><img src="/static/29.jpg" height="100%" width="100%"></div></a>
	<a href=http://www.4-elements.info/  target="_blank"><div class="clients"><img src="/static/30.png" height="100%" width="100%"></div></a>



</div>


