{{form.media}}
	<div class="container-center">
			<div class="msg">
				{%if msg%}
					{{msg}}
				{%endif%}
			</div>
		<div class="border">
			<div class="left">
				{%for fields in form%}
				{%ifnotequal fields.html_name 'message'%}
				<div class="row">
					{{fields}}
				</div>
					{%if fields.errors%}
				<div class="errors">
					{{fields.errors}}
				</div>
					{%endif%}
					{%endifnotequal%}
					{%endfor%}
			</div>
			<div class="right">
				<div class="textarea">
					{{form.message}}
				</div>
					{%if form.message.errors%}
				<div class="errors">
					{{form.message.errors}}
				</div>
					{%endif%}
				<input type="button" class="contactbutton" value="SUBMIT" style="font-size:1.2em;color:#368AFF; font-style:italic;"/>

			</div>
		</div>
</div>
<div class="container-right">
<div class="information">
<h2>ERP</h2>
<h4>&nbsp;&nbsp;Nehru Market,Dakpathar,
<br>&nbsp;&nbsp;Dehradun
<br>&nbsp;&nbsp;email-id:www.krunksystems.com
<br>&nbsp;&nbsp;dmalikcs@gmail.com
<br>&nbsp;&nbsp;Contact No-01360222018</h4>
</div>
</div>
