 <div class="container-center">
	 <div class="content" style="position:absolute;z-index:3;">
		   <h2>Let's ERP</h2>

<p>When we talk about cofee,it is not Java.We are talking about actual <br>cofee.When it kicks in ,we jast do not write code.We Krunk.What is Krunk?<br>
Krunk=Ideas+Cofee.Wonder why we love our cup of cofeeso much?Join us<br>in a discussion anytime to find out..... 
 </p>
	 </div>
                <div  style="background:url('/static/cupwithkrunklogo.png');right:0px; top:4px;height:20%; width:15%;background-size:100% 100%; position:absolute; "></div>
        </div>
        <div class="container-right">

        </div>
        <div class="container-left"></div>



