<div class="content" style=" position:absolute;z-index:4;">
<h2>Purchase Managment</h2>
<p style="font-family:georgia">Purchase management enables you to Simply create and track your purchase orders, manage your suppliers. info, control your products reception process and check suppliers. invoices.</p></br>
<h2>Features</h2>
<p style="font-family:georgia">
.       Automated purchase propositions</br>
.       Control receptions</br>
.       Follow-up your suppliers</br>
.       Create your products</br>
.       Personalized analysis</br>

</p>

</div>

