<div class="content" style=" position:absolute;z-index:4;">
<h2>Manufacturing</h2>
<p style="font-family:georgia">Plan and control your supply chain through different applications in the Manufacturing module. Personalize your master data, configure planning, manage your manufacturing and work orders.</p></br>
<h2>Features</h2>
<p style="font-family:georgia">
.	Efficient scheduling</br>
.	Stock analytics</br>
.	Manage material and human resource</be>
.	Multi-level BOMs, push & pull rules, advanced routings</br>
.	Stock alerts</br>
.	Bar code support</br>
.	Flexible manual editing for all operations</br>

</p>

</div>
