
	<div class="container-center">
		<div class="content" style="position:absolute;z-index:3;  ">
	<h2>OpenErp</h2>

<p>OpenERP is the most advanced open source business application framework. it is a fully integrated open source ERP easy to use & affordable.

It is a comprehensive suite of business applications including sales, CRM, project management, warehouse management, manufacturing, accounting and human resources.

What makes OpenERP different from other ERP solutions is:</p>

<p ><h5>Open Source<h5></p>
<p ><h5>Complete<h5></p>
<p><h5>Modular<h5></p>
<p><h5>flexible<h5></p>
<p><h5>no lock-in<h5></p>
<p><h5>Affordable<h5></p>
<h5>Clients<h5>

		</div>
		<div  style="background:url('/static/oel.png');right:0px; top:0px;height:20%; width:15%;background-size:100% 100%; position:absolute; "></div>
	</div>
        <div class="container-right">
		<div class="category" id="openerp_1_link" title="opensource"><p style="font-family:cambria">OpenSource</div>
                <div class="category" id="openerp_2_link" title="complete"><p style="font-family:cambria">Complete</div>
                <div class="category" id="openerp_3_link" title="moduler"><p style="font-family:cambria">Moduler</div>
                <div class="category" id="openerp_4_link" title="flexible"><p style="font-family:cambria">Flexible</div>
                <div class="category" id="openerp_5_link" title="nolocking"><p style="font-family:cambria">NoLocking</div>
		<div class="category" id="openerp_5_link" title="Affordable"><p style="font-family:cambria">Affordable</div>
		<div class="category" id="openerp_5_link" title="whatpeoplearesaying"><p style="font-family:cambria">People's review</div>
		<div class="category" id="openerp_5_link" title="clients"><p style="font-family:cambria">Clients</div>

        </div>
	<div class="container-left"></div>

