<div class="content" style=" position:absolute;z-index:4;">
<div class="image"><img src="/static/1.jpg" height="70%" width="100%">Mr.Deepak Malik<br>CEO</div>
<div class="image"><img src="/static/2.jpg" height="70%" width="100%">Sarfraz Ahamed<br>TeamLeader of Django Team</div>
<div class="image"><img src="/static/3.jpg" height="70%" width="100%">Toufiq Ahamed<br>Unix Administrator</div>
<div class="image"><img src="/static/4.jpg" height="70%" width="100%">Md.Irshad <br>Django Developer</div>
<div class="image"><img src="/static/5.jpg" height="70%" width="100%">Mairaj Khan<br>Django Developer</div>
<div class="image"><img src="/static/6.jpg" height="70%" width="100%">Sk Masiur Rahaman<br>Django Developer</div>
<div class="image"></div>
<div class="image"></div>
</div>
<div  style="background:url('/static/team-1.png'); height:20%; width:15%;background-size:100% 100%; position:absolute;right:0px;top:0px; "></div>


