<div class="content" style="position:absolute;z-index:3; ">
<p><h2>Introduction</h2></p>
<p>

PostgreSQL is a powerful, open source object-relational database system
</p>
<h2>Why PostgreSQL</h2>
<p>

Switching database server from HP to Linux</br>
PostgreSQL is free, Informix for Linux is not</br>
PostgreSQL is the most advanced open source relational database</br>
Full support for foreign keys, joins, views, triggers, and stored procedures</br>
Documentation is excellent and is at  www.postgresql.org/docs/8.2/...</br></p>
</div>
<div  style="background:url('/static/post.jpg');right:0px; top:opx;height:20%; width:15%;background-size:100% 100%; position:absolute; "></div>

