
      <div class="container-center">
	<div class="content" style="position:absolute;z-index:3;  ">
	<h2>Modules</h2>
              <p>  OpenERP is complete suite of business application to manage entire operations of an organization at no license fee.</p><br>
		<p ><h5>Human Resourse<h5></p>

		<p ><h5>Accounts & Finance<h5></p>

		<p><h5>Purchase Managment<h5></p>

		<p><h5>CRM<h5></p>

		<p><h5>Project Managment<h5></p>

		<p><h5>Manufacturing<h5></p>

	</div>
	<div  style="background:url('/static/xml.jpg');right:0px; top:opx;height:20%; width:15%;background-size:100% 100%; position:absolute; "></div>

                </div>
                                <div class="container-right">
                                                <div class="category" title="hr" id="module_1_link"><p>Human Resourse</p></div>
                                                <div class="category" title="finance" id="module_2_link"><p>Accounts & Finance</p></div>
                                                <div class="category" title="managment" id="module_4_link"><p>Purchase Managment</p></div>
                                                <div class="category" title="crm" id="module_5_link"><p>CRM</p></div>
                                                <div class="category" title="project" id="module_6_link"><p>Project Managment</p></div>
						<div class="category" title="manufacturing" id="module_6_link"><p>Manufacturing</p></div>
                                </div>


		<div class="container-left"></div>

