
<div class="container-center">
<div class="content" style="position:absolute;z-index:3;  ">
<h2>Introduction</h2>
<p> {% load webdesign %}
        {% lorem 1 p %}
</p><br>
<p ><h5>Research1<h5></p>

<p ><h5>Research2<h5></p>

<p><h5>Research3<h5></p>

</div>
<div  style="background:url('/static/xml.jpg');right:0px; top:opx;height:20%; width:15%;background-size:100% 100%; position:absolute; "></div>

</div>
<div class="container-right" id="right">
        <div class="category" name="hathi" title="researcha"><p>Research1</p></div>
        <div class="category" title="researchb"><p>Research2</p></div>
        <div class="category" title="researchc"><p>Research3</p></div>
</div>
<div class="container-left"></div>

