<div class="container-center">
<div class="content" style="position:absolute;z-index:3;  ">
<p><h2>Introduction</h2></p>
<p>{% load webdesign %}
	{% lorem 1 p %}
</p><br>
<p ><h5>Python<h5></p>

<p ><h5>PostgreSQL<h5></p>

<p><h5>Xml<h5></p>


</div>
<div  style="background:url('/static/xml.jpg');right:0px; top:opx;height:20%; width:15%;background-size:100% 100%; position:absolute; "></div>

</div>
<div class="container-right" id="right">
	<div class="category" name="hathi" title="python"><p>Python</p></div>
	<div class="category" title="postgresql"><p>PostgreSQL</p></div>
	<div class="category" title="xml"><p>Xml</p></div>
</div>
<div class="container-left"></div>
