<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
 "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">

<html xmlns="http://www.w3.org/1999/xhtml"><html>
	<head>
	<meta charset="utf-8">
		<link rel="stylesheet" type="text/css" href="/static/base.css" />
		<script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
		<script type="text/javascript" src="/static/base.js"></script>
		<script type="text/javascript" src="/static/jquery.vticker-min.js"></script>
	<title>Open ERP</title>
	</head>
	<body>
		<div class="header">
			{%block header%}
		<div class="header-items"  id="home1" title="home">
                                <span class="head" style="font-family:georgia;position:absolute;z-index:5;font-size:1.5em;margin:30px 00px 00px 46px;">Home</span>
                                <div title="home" style="position:absolute ;height:100%;width:100%;background:#19497A"></div>
	
                             <p style="position:absolute;opacity:.1;z-index:-3;font-family:TradeGothicNextLTPro;color:#19497A;text-align:center;">Simply Home</p>
                                </div>

                                <div class="header-items"  title="aboutus" id="aboutus1">
                                <span class="head" style="font-family:georgia;text-align:center;position:absolute;z-index:5;font-size:1.5em;margin:30px 00px 00px 40px;">				Aboutus</span>
                              <div title="aboutus" style="position:absolute ;opacity:1;height:100%;width:100%;background:#19497A "></div>
                                <p style="position:absolute;z-index:-3;opacity:.1;font-family:TradeGothicNextLTPro;text-align:justify;color:#19497A">
				Let's know each others</p>
                                </div>

                                <div class="header-items" title="openerp" id="openerp1">
                                 <span class="head" style="font-family:georgia;text-align:center;position:absolute;z-index:5;font-size:1.5em;margin:30px 00px 00px 40px">				Openerp</span>
				<div title="openerp" style="position:absolute ;opacity:1; height:100%;width:100%;background:#19497A;  "></div>	
				<p style="position:absolute;z-index:-3;opacity:.1;font-family:TradeGothicNextLTPro;text-align:center;color:#19497A">Powerfull & Free<br>
				</p>
                                </div>

                                 <div class="header-items" title="technology" id="technology1">
                                 <span class="head" style="font-family:georgia;text-align:center;position:absolute;z-index:5;font-size:1.5em;margin:30px 00px 00px 10px">
				Technologies</span>
				<div title="technology" style="position:absolute ;opacity:1;height:100%;width:100%;background:#19497A;color:#19497A  "></div>
				<p style="position:absolute;z-index:-3;opacity:.1;font-family:TradeGothicNextLTPro;text-align:center;color:#19497A">
				We use the best</p>
                                </div>

                                <div class="header-items" title="products" id="products1">
                                 <span class="head" style="font-family:georgia;text-align:center;position:absolute;z-index:5;font-size:1.5em;margin:30px 00px 00px 32px">
				Modules</span>
				<div title="products" style="position:absolute ;opacity:1;height:100%;width:100%;background:#19497A"></div>
				<p style="position:absolute;z-index:-3;opacity:.1;font-family:TradeGothicNextLTPro;text-align:center;color:#19497A;">
				More than 2000 modules</p>
                                </div>

                                <div class="header-items" title="research" id="research1">
                              	<span class="head" style="font-family:georgia;text-align:center;position:absolute;z-index:5;font-size:1.5em;margin:20px 00px 00px 5px">
				Research & Development</span>
				<div title="research" style="position:absolute ;opacity:1;height:100%;width:100%;background:#19497A"></div>                                				<p style="position:absolute;z-index:-3;opacity:.1;font-family:TradeGothicNextLTPro;text-align:center;color:#19497A">
				A complete community </p>
                                </div>


                                <div class="header-items contactus" title="contactus" id="contactus1">
                                 <span class="head" style="font-family:georgia;text-align:center;position:absolute;z-index:5;font-size:1.5em;margin:30px 00px 00px 27px">ContactUs</span>
				<div title="contactus" style="position:absolute ;opacity:1;height:100%;width:100%;background:#19497A "></div>                                
<p style="position:absolute;opacity:.1;z-index:-3;font-family:TradeGothicNextLTPro;text-align:center;color:#19497A">just connect to<br>us<br></p>
                                </div>
                                <div class="header-items" title="krunk" id="krunk1">
                                 <span class="head" style="position:absolute;font-family:georgia;text-align:center;position:absolute;z-index:5;font-size:1.5em;margin:30px 00px 00px 20px">Let's ERPs</span>
				<div title="krunk" style="position:absolute ;opacity:1;height:100%;width:100%;background:#19497A"></div>                                
<p style="position:absolute;z-index:-3;opacity:.1;font-family:TradeGothicNextLTPro;text-align:center;color:#19497A">mmmm<br></p>
                                </div>

			{%endblock header%}
		</div>
		<div class="arrow-up"></div>
		<div class="arrow"></div>
		<div class="container">
		{%block home%}

		{%endblock home%}
		<div class="lefti" style="height:100%;width:85%;position:absolute;background:#19497A;margin-right:15%;z-index:10;">
		<div class="content" style="position:absolute;z-index:3;height:72%;width:68%;
                        border-bottom:1px inset #19497A;margin:6.7% auto auto 15%;padding:4% 3% auto auto;border-radius:1px;  box-shadow:0px 5px  5px black;">
                        <object width="100%" height="100%"><param name="movie"
                                value="http://www.youtube.com/v/JTttSMPz3Y4&hl=en_GB&fs=1&">
                                </param><param name="allowFullScreen" value="true"></param>
                                <param name="allowscriptaccess" value="always"></param>
                                <embed src="http://www.youtube.com/v/JTttSMPz3Y4&hl=en_GB&fs=1&"
                                type="application/x-shockwave-flash" allowscriptaccess="always"
                                allowfullscreen="true" width="100%" height="100%"></embed></object>
                        </div>

                        

		

		</div>
		 <div class="slide" style="background-size:100% 100%;height:35px;width:35px;position:absolute;background:black;margin-left:83.5%;margin-top:17%;margin-right:14%;z-index:13;background:url('/static/previous.png');background-size:100% 100%;"></div>


		<div class="righti" style="height:100%;width:50%;position:absolute;background:white;margin-left:15%;z-index:9;">
		 <!--	{%block cright%}
                        {%endblock cright%}-->

		</div>
			
	<!--		<div class="container-left"></div>	
		<div class="container-center">
			<div class="content" style="position:absolute;z-index:3;height:72%;width:70%;
			border-bottom:1px inset #19497A;margin:6.7% auto auto 15%;padding:4% 3% auto auto;border-radius:1px;  box-shadow:0px 5px  5px black;">
			<object width="100%" height="100%"><param name="movie" 
				value="http://www.youtube.com/v/JTttSMPz3Y4&hl=en_GB&fs=1&">
				</param><param name="allowFullScreen" value="true"></param>
				<param name="allowscriptaccess" value="always"></param>
				<embed src="http://www.youtube.com/v/JTttSMPz3Y4&hl=en_GB&fs=1&"
 				type="application/x-shockwave-flash" allowscriptaccess="always"
 				allowfullscreen="true" width="100%" height="100%"></embed></object>
			</div>

			{%block content%}

			{%endblock content%}
				
			</div>
			<div class="container-right">
-->
			</div>
		
		<div class="footer">
		    <!--	<div class="footer1" style="background:pink;">
				<div class="footer11" style="Background:black;position:relative;float:left;height:100%;width:50%;">
					<div class="founder">
						<iframe src="http://www.facebook.com/plugins/like.php?
						app_id=185800681493185&amp;href=YOUR WEB PAGE&amp;send=false
						&amp;layout=standard&amp;width=450&amp;show_faces=false&amp;
						action=like&amp;colorscheme=light&amp;font&amp;height=35"
						scrolling="no" frameborder="0" style="border:none;
						overflow:hidden;width:200px; height:40px;" allowTransparency=
						"true"></iframe>
					</div>
				</div>
				<div class="footer12" style="Background:red;position:relative;float:right;height:100%;width:50%;">
				</div>
			</div>
			<div class="footer1" style="text-align:center;background:green;">
				 <div class="footer111" style="Background:white;position:relative;float:left;height:100%;width:50%;">
				 </div>
				 <div class="footer122" style="Background:#123;position:relative;float:right;height:100%;width:50%;">
                                 </div>


                        </div>
			<div class="footer3" style="text-align:center;background:#786;">
				<div class="info">
				K
				</div>
			</div>  -->
			<div class="footer-n">
				  <div class="info2">
                                	
                                </div>
				<div class="sn">
 <div class="fb">

                      {% autoescape on %}

                                {% with "http://carlosvin.alwaysdate.net" as host %}
                                        {% with "Share in" as share_txt %}
                                        {% with "twitter" as service %}
                                        <a style="color:#FFF;text-decoration:none;" href="http://twitter.com/share?url={{ host }}{{ page_url }}&amp;text={{ title }}" target="_blank" title="{{ share_txt }} {{ service }}">
                                        <img src="/static/t11.jpg"  style="margin-top:5%;margin-left:3.3%;height:100%;width:100%;position:relative;" alt="{{ share_txt }} {{ service }}"/>
                                        </a>
                                {% endwith%}
                </div>
                <div class="fb">

                                {% with "facebook" as service %}
                                        <a style="color:#FFF;text-decoration:none;height:100%;width:100%;position:relative;" href="http://www.facebook.com/share.php?u={{ host }}{{ page_url }}&amp;t={{ title }}" target="_blank" title="{{ share_txt }} {{ service }}">
                                                <img src="/static/f1.jpg"  style="margin-top:5%;margin-left:3.3%;height:100%;width:100%;position:relative;" alt="{{ share_txt }} {{ service }}"/>
</a>
                                {% endwith %}
                </div>
                <div class="fb">



                                {% with "linkedin" as service %}
                                        <a style="color:#FFF;text-decoration:none;" href="http://www.linkedin.com/shareArticle?mini=true&amp;url={{ host }}{{ page_url }}&amp;title={{ title }}&amp;ro=false&amp;summary=&amp;source=" target="_blank" title="{{ share_txt }} {{ service }}">
                                        <img src="/static/l1.jpg" height='70%' width='30%' style="margin-top:5%;margin-left:3.3%;height:100%;width:100%;position:relative;"  alt="{{ share_txt }} {{ service }}"/>
</a>
                                {% endwith %}


                                {% endwith %}
                                {% endwith %}

                                {% endautoescape %}
                </div>

				</div>

			</div>
			{%block footer%}
			{%endblock footer%}
		</div>
		<div class="minifooter">
		<h4 style="text-align:center;padding:0%; margin:0%;color:white;">Powered By mmF</h4>
		</div>
		<div class="loading"></div>

	</body>
</html>

